
/secure_sphere_frontend/.env
/secure_sphere_frontend/package.json
/secure_sphere_frontend/package-lock.json
/secure_sphere_frontend/pnpm-lock.json
/secure_sphere_frontend/pnpm-workspace.yaml
/secure_sphere_frontend/node_modules